* {
    margin: 0;
}

.header {
    margin-top: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.MuiTypography-root-29 {
    margin-bottom: 10px;
}

.canvas-wrap {
    padding: 20px;
    background: #aab;
    border: 1px solid darkred;
}
