canvas {
    border: 1px solid darkred;
    margin-top: 20px;
}

.canvasForm {
    margin-top: 10px;
}

.btn-wrap {
    display: inline-block;
    margin-left: 10px;
}

.btn-new-word {
    margin-top: 10px;
}

